!!! 5
%html
  %body
    .wrapper
      .contents
        .user
          .user-contents
            %h3.user-contents__name
              = current_user.name
            %li.user-contents__create-group
              =link_to new_group_path do
                = fa_icon "cog"
            %li.user-contents__edit
              =link_to edit_user_path(current_user) do
                = fa_icon "edit"
          .user-message
            = render "user"
        .group
          .group-contents
            .group-contents__edit
              %a{href: "/groups/#{@group.id}/edit", id: "group-contents__edit" } Edit
            = render "group"
          .group-message
            = render partial: "member", collection: @messages, as: :message
          %footer
            .form
              = form_for [@group, @message],html: {id: 'the-form', class: 'the-form'} do |f|
                = f.text_field :text, class: 'form__message', placeholder: 'type a message.'
                .form__mark
                  = f.label :image, class: 'form__mask__image' do
                    = fa_icon "image", class: 'icon'
                    = f.file_field :image, class: 'hidden'
                = f.submit 'send', class: 'form__submit'
